.card {
  position: relative;
  background: #d0d1f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  padding: 1rem 2rem;
  border-radius: 16px;
  @media (max-width: 1026px) {
    width: 300px;
  }

  @media (max-width: 480px) {
    width: 100%;
  }

  .product-card-logo {
    height: 200px;
  }

  .heart {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f8f7f7;
    outline: black;
    cursor: pointer;
  }
  .dislike-heart {
    color: #ec1d25;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .brand-info {
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    height: 112px;
  }

  .brand-name {
    padding: 1rem 0;
  }
  .brand-name,
  .brand-price {
    font-weight: 700;
    font-size: 1rem;
    line-height: 28px;
  }

  .brand-price {
    margin-top: auto;
  }

  .more {
    text-decoration: none;
    color: #2e3192;
    display: flex;
    justify-content: right;
    font-size: 1rem;
    text-transform: capitalize;
    padding-bottom: 5px;
  }

  .more:hover {
    color: darken(#2e3192, 20%);
  }

  .add-button {
    margin-top: auto;
    color: #fff;
    background: #2e3192;
    padding: 1rem 0;
    border: none;
    outline: solid #f8f7f7;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #4651b5; /* Lighter color on hover */
    }
  }
  &:hover {
    box-shadow: 10px 5px rgba(0, 0, 0, 0.1);
  }
}
