.payment-info {
  background-color: #d0d1f0;
  padding: 2rem;
  &-content {
    h3 {
      font-weight: 600;
      font-size: 2rem;
      padding-bottom: 2rem;
      @media (max-width: 480px) {
        font-size: 20px;
      }
    }
    &-body {
      display: flex;
      gap: 20px;
      @media (max-width: 968px) {
        flex-direction: column;
      }
      .card-img {
        width: 50%;
        @media (max-width: 968px) {
          width: 100%;
        }
      }
      .form-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 70%;
        @media (max-width: 968px) {
          width: 100%;
        }

        .form-body {
          background-color: #fff;
          border-radius: 10px;
          padding: 2rem;
          width: 910px;
          @media (max-width: 1026px) {
            width: 100%;
          }
          .error {
            color: red;
          }
          .form-control {
            display: grid;
            label {
              font-size: 3rem;
              font-weight: 700;
              margin-top: 30px;
              @media (max-width: 468px) {
                font-size: 13px;
              }
            }
            .card-num {
              padding: 30px 10px;
              // font-size: 2rem;
              border: solid #121212;
              outline: none;
              border-radius: 10px;
              @media (max-width: 1024px) {
                font-size: 1rem;
              }
              @media (max-width: 480px) {
                font-size: 12px;
                padding: 1rem;
              }
            }
          }
          .expiry-cvv {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .form-control {
              width: 50%;
              @media (max-width: 1026px) {
                width: 100%;
              }
            }
            @media (max-width: 1026px) {
              flex-direction: column;
              gap: unset;
            }
          }
          .check-box-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 0;

            .check-control {
              display: flex;
              gap: 20px;
              @media (max-width: 480px) {
                flex-direction: column;
              }
            }

            .check-box {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              gap: 10px;

              label {
                font-weight: 500;
                font-size: 2rem;

                @media (max-width: 468px) {
                  font-size: 13px;
                }
              }

              .check {
                height: 50px;
                width: 50px;

                @media (max-width: 468px) {
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
        }
      }
      .check-out-btn {
        background: #2e3192;
        font-size: 2rem;
        font-weight: 400;
        line-height: 28px;
        color: #f8f7f7;
        padding: 20px 20px;
        border: solid #f8f7f7;
        border-radius: 8px;
        width: 50%;
        cursor: pointer;
        @media (max-width: 968px) {
          width: 100%;
        }
      }

      .cart-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 310px;
        @media (max-width: 968px) {
          width: 100%;
        }
        .card {
          background-color: #f8f7f7;
        }
      }
    }
  }
}
