.cart-page {
  background-color: #d0d1f0;
  padding-top: 12rem;

  &-content {
    padding: 2rem;
    .cart-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .cart-title {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 56px;
        @media (max-width: 480px) {
          font-size: 30px;
        }
      }

      .cart-lenght {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
      }
    }
    .table-container {
      overflow-x: auto;
    }
    .data-table {
      width: 100%;
      margin-top: 30px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
      border-collapse: collapse;
      border-spacing: 0;
      background-color: white;
      border-radius: 16px;
      display: table;
      overflow-x: auto;

      tbody {
        display: table-row-group;
      }

      th,
      td {
        text-align: start;
        padding: 20px 20px;
        color: rgba(84, 95, 125, 1);
        font-size: 20px;
        font-weight: 600;
      }

      .data-row {
        position: relative;

        &-card {
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 2rem;

          img {
            padding: 2rem;
            width: 100%;
          }
          p {
            font-size: 20px;
            font-weight: 600;
          }

          .img-card {
            background: #d0d1f0;
            width: 300px;
            height: 310px;
            display: grid;
            place-items: center;
            border-radius: 6px;
          }
        }

        .quantity-btn {
          display: flex;
          gap: 15px;
          background: #d0d1f0;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          color: #2e3192;
          width: 100px;
          .decrease,
          .increase {
            background: none;
            border: none;
            font-size: 30px;
            color: #2e3192;
            cursor: pointer;
          }
        }

        .Cart-remove-btn {
          padding: 1rem;
          background: red;
          color: #f8f7f7;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .data-row::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        height: 1px;
        background: rgba(33, 63, 125, 0.1);
      }

      .data-row:last-child::after {
        display: none;
      }

      .t-head {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
    .aggregate-section {
      padding: 2rem;
      margin-top: 30px;
      background-color: white;
      width: 100%;

      .aggregate-item {
        width: 20%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        p,
        span {
          font-size: 20px;
          line-height: 28px;
          font-weight: 700;
        }
      }
    }

    .checkout-btn {
      margin-top: 30px;
      width: 50%;
      padding: 2rem;
      background-color: #2e3192;
      border-radius: 5px;
      color: #fff;
      border: none;
      outline: solid #f8f7f7;
      cursor: pointer;
      font-size: 2rem;

      @media (max-width: 468px) {
        width: 100%;
      }
    }
  }
}
